# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Django
# ==========================
db.sqlite3
media/
staticfiles/

# Django log files
*.log

# ==========================
# Pytest
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Mypy
# ==========================
.mypy_cache/

# ==========================
# Ruff
# ==========================
.ruff_cache/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db
desktop.ini

# ==========================
# Build Artifacts
# ==========================
dist/
build/
